{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "chrome": "64",
          "ie": "9"
        }
      }
    ],
    [
      "@babel/preset-react"
    ]
  ]
}
